.header
{
    width: 800px;
    height: 100px;
    background-color:blueviolet;
    text-align: center;
}

.footer
{
    height: 30px;
    background-color: yellowgreen;
}
.leftmenu
{
    width: 150px;
    height: 400px;
    background-color:navajowhite;
}

.maincontent
{
    width:600px ;
    height: max-content;
}